PARAMETER - Name that we give to an expected input

ARGUMENT - Concrete value that we provide to parameter

eg Difficulty - Easy, Medium, Hard

eg Volume - 1,2,3,4

eg Subtitles - True, False

PANDAS Parameter List

1) Data

2) Index

3) dtype | name | Copy : 'bool' = False | Fastpath : 'bool' = False

In [20]:
import pandas as pd
fruits = ["Apple", "Banana", "Grape", "Pineapple", "Plum"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

# Both lists should have same length

pd.Series(fruits,weekdays)

Monday           Apple
Tuesday         Banana
Wednesday        Grape
Thursday     Pineapple
Friday            Plum
dtype: object

In [21]:
pd.Series(data = fruits, index = weekdays)

Monday           Apple
Tuesday         Banana
Wednesday        Grape
Thursday     Pineapple
Friday            Plum
dtype: object

In [22]:
pd.Series(index = weekdays, data = fruits)

Monday           Apple
Tuesday         Banana
Wednesday        Grape
Thursday     Pineapple
Friday            Plum
dtype: object

In [23]:
pd.Series(fruits, index = weekdays)

Monday           Apple
Tuesday         Banana
Wednesday        Grape
Thursday     Pineapple
Friday            Plum
dtype: object

IMPORTING CSV DATA using READ_CSV Function

In [24]:
pd.read_csv("~/Pandas/Data Set/pokemon.csv")

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [25]:
# By default Pandas will store csv data in an object called DATAFRAME
# Extracting 1 column
# Using SQUEEZE method of dataframe to convert to series datatype
pokemon = pd.read_csv("~/Pandas/Data Set/pokemon.csv", usecols=["Pokemon"]).squeeze("columns")

In [26]:
google = pd.read_csv("~/Pandas/Data Set/google_stock_price.csv", usecols=["Stock Price"]).squeeze("columns")

HEAD and TAIL Functions

In [29]:
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [30]:
google.tail(5)

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

Copy vs View

COPY - Replica of original dataset

VIEW - A perspective on original data eg head and tail fn